## Exercise 11
### Yohan Min

In [78]:
import pandas as pd

link1="https://docs.google.com/spreadsheets/d/e/2PACX-1vRojxNKqFZMSqPbZA0D6DYsuRqBuDmZuyK0DFbbatwTQIfClU2lwoCYsEKalaYv_IorAYSmMeTWmlKF/pub?gid=239626258&single=true&output=csv"

In [79]:
hdi=pd.read_csv(link1)

In [80]:
# saving headers:
CurrentHeaders=hdi.iloc[4,:2].tolist()+hdi.iloc[3,2:].tolist()

hdi.drop(index=range(0,7),inplace=True)
hdi.reset_index(drop=True,inplace=True)
hdi.drop(index=range(199,262),inplace=True) # should I reset indexes?
hdi.columns=CurrentHeaders
GoodHeaders=[header for header in CurrentHeaders if str(header) != 'nan']
FinalHeaders=[header for header in GoodHeaders if 'rank' not in header]

hdi=hdi.loc[:,FinalHeaders]
hdi.columns=hdi.columns.str.replace("\s+|\(\w+\)","")
hdi=hdi[hdi.iloc[:,1:].notnull().all(axis=1)]
hdi.reset_index(drop=True, inplace=True)

badHDISymbols=[] # list for bad symbols

NumericColNames=hdi.iloc[:,1:].columns # save names of columns with numeric data

for columnName in NumericColNames:# visit every column name
    for cell in hdi[columnName]:# visit every cell for that column
        try:
            float(cell) # try this
        except: # if not possible:            
            if cell not in badHDISymbols:# if cell is not in the list                
                badHDISymbols.append(cell)# add it to the list

import numpy as np

hdi.replace(to_replace=badHDISymbols,value=np.nan,inplace=True)


hdi[NumericColNames]=hdi.loc[:,NumericColNames].apply(pd.to_numeric)

In [81]:
hdi=hdi.assign(AboveMedian=hdi.Humandevelopmentindex > np.nanmedian(hdi.Humandevelopmentindex))

In [82]:
# hdi=hdi.assign(value=pd.to_numeric(hdi.AboveMedian))

In [83]:
# hdi.Humandevelopmentindex > np.nanmedian(hdi.Humandevelopmentindex)

In [84]:
# pd.to_numeric(hdi.AboveMedian)

In [85]:
hdi.head()

,Country,Humandevelopmentindex,Lifeexpectancyatbirth,Expectedyearsofschooling,Meanyearsofschooling,Grossnationalincomepercapita,AboveMedian
0,Norway,0.95,82.27,18.06,12.57,68058.62,True
1,Switzerland,0.95,83.63,16.21,13.38,59374.73,True
2,Ireland,0.94,82.10,18.79,12.53,55659.68,True
3,Germany,0.94,81.18,17.10,14.13,46945.95,True
4,"Hong Kong, China (SAR)",0.94,84.69,16.51,12.04,60220.80,True

In [86]:
hdi=hdi[['Country','AboveMedian']]

In [87]:
hdi.dtypes

Country        object
AboveMedian      bool
dtype: object

In [116]:
hdidemocia=pd.read_pickle("hdidemocia.pkl")
hdidemocia.head()

,Country,Humandevelopmentindex,Lifeexpectancyatbirth,Expectedyearsofschooling,Meanyearsofschooling,Grossnationalincomepercapita,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Regimetype,Continent,countries,co2_in_MT
0,Norway,0.95,82.27,18.06,12.57,68058.62,10.00,9.64,10.00,10.00,9.71,Full democracy,Europe,Norway,39800000.0
1,Switzerland,0.95,83.63,16.21,13.38,59374.73,9.58,9.29,7.78,9.38,9.12,Full democracy,Europe,Switzerland,38950000.0
2,Ireland,0.94,82.10,18.79,12.53,55659.68,10.00,7.86,8.33,10.00,10.00,Full democracy,Europe,Ireland,36910000.0
3,Germany,0.94,81.18,17.10,14.13,46945.95,9.58,8.57,8.33,7.50,9.41,Full democracy,Europe,Germany,847600000.0
4,Hong Kong,0.94,84.69,16.51,12.04,60220.80,3.58,4.36,6.11,7.50,8.53,Flawed democracy,Asia,Hong Kong,102500000.0

In [121]:
hdidemocia2=hdidemocia.merge(hdi,how='outer',indicator=True)
hdidemocia2.tail()

,Country,Humandevelopmentindex,Lifeexpectancyatbirth,Expectedyearsofschooling,Meanyearsofschooling,Grossnationalincomepercapita,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Regimetype,Continent,countries,co2_in_MT,AboveMedian,_merge
207,Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,right_only
208,Nauru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,right_only
209,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,right_only
210,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,right_only
211,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,right_only

In [122]:
hdidemocia2.dtypes

Country                           object
Humandevelopmentindex            float64
Lifeexpectancyatbirth            float64
Expectedyearsofschooling         float64
Meanyearsofschooling             float64
Grossnationalincomepercapita     float64
Electoralprocessandpluralism     float64
Functioningofgovernment          float64
Politicalparticipation           float64
Politicalculture                 float64
Civilliberties                   float64
Regimetype                      category
Continent                       category
countries                         object
co2_in_MT                        float64
AboveMedian                       object
_merge                          category
dtype: object

In [123]:
replacements={True: '1', False: '0'}
hdidemocia2.AboveMedian.replace(replacements,inplace=True)

In [124]:
hdidemocia2.dtypes

Country                           object
Humandevelopmentindex            float64
Lifeexpectancyatbirth            float64
Expectedyearsofschooling         float64
Meanyearsofschooling             float64
Grossnationalincomepercapita     float64
Electoralprocessandpluralism     float64
Functioningofgovernment          float64
Politicalparticipation           float64
Politicalculture                 float64
Civilliberties                   float64
Regimetype                      category
Continent                       category
countries                         object
co2_in_MT                        float64
AboveMedian                       object
_merge                          category
dtype: object

In [125]:
hdidemocia2.tail()

,Country,Humandevelopmentindex,Lifeexpectancyatbirth,Expectedyearsofschooling,Meanyearsofschooling,Grossnationalincomepercapita,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Regimetype,Continent,countries,co2_in_MT,AboveMedian,_merge
207,Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,right_only
208,Nauru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,right_only
209,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,right_only
210,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,right_only
211,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,right_only