**Step one:**

Load your data:

In [1]:
# write code here
# !pip install html5lib
# !pip install beautifulsoup4
# !pip install lxml
import pandas as pd
import numpy as np
# make sure it is raw data not github present. 
link1="https://github.com/reconjohn/evans/raw/master/installed-solar-PV-capacity.csv"
data=pd.read_csv(link1)
data

       Entity      Code  Year  Solar Capacity (gigawatts)
0     Algeria       DZA  1996                      0.0000
1     Algeria       DZA  1997                      0.0000
2     Algeria       DZA  1998                      0.0000
3     Algeria       DZA  1999                      0.0000
4     Algeria       DZA  2000                      0.0000
...       ...       ...   ...                         ...
1348    World  OWID_WRL  2014                    178.3152
1349    World  OWID_WRL  2015                    226.6613
1350    World  OWID_WRL  2016                    298.2479
1351    World  OWID_WRL  2017                    392.2627
1352    World  OWID_WRL  2018                    487.8287

[1353 rows x 4 columns]

**Step two:**

Clean your data:

In [2]:
#write code here
data.columns=data.columns.str.replace("\s+|\(|\)","").str.replace("gigawatts","GW")
data=data.drop(["Code"], axis=1)
data

       Entity  Year  SolarCapacityGW
0     Algeria  1996           0.0000
1     Algeria  1997           0.0000
2     Algeria  1998           0.0000
3     Algeria  1999           0.0000
4     Algeria  2000           0.0000
...       ...   ...              ...
1348    World  2014         178.3152
1349    World  2015         226.6613
1350    World  2016         298.2479
1351    World  2017         392.2627
1352    World  2018         487.8287

[1353 rows x 3 columns]

**Step three:**

Format your data:

In [3]:
#write code here
badHDISymbols=[] # list for bad symbols
NumericColNames=data.iloc[:,2:].columns # save names of columns with numeric data

for columnName in NumericColNames:# visit every column name
    for cell in data[columnName]:# visit every cell for that column
        try:
            float(cell) # try this
        except: # if not possible:            
            if cell not in badHDISymbols:# if cell is not in the list                
                badHDISymbols.append(cell)# add it to the list

print(badHDISymbols)
data.dtypes

[]

Entity              object
Year                 int64
SolarCapacityGW    float64
dtype: object

**Step five:**

Go to github and create repository for your clean and formatted data.

**Step six:**

Fill this information to clone the repo from github:

In [14]:
import os
from getpass import getpass
import urllib

user = 'reconjohn'
email= 'min25@uw.edu'
locationOfRepo= 'github.com/reconjohn/evan_data'
password = getpass('Password: ')

Password:  ·········

**Step seven:**

Now clone repo:

In [15]:
cmd_string1 = 'git config --global user.name {0}'.format(user)
os.system(cmd_string1)

cmd_string2 = 'git config --global user.email {0}'.format(email)
os.system(cmd_string2)

password = urllib.parse.quote(password) # your password is converted into url format

cmd_string3 = 'git clone https://{0}:{1}@{2}.git'.format(user,password,locationOfRepo)

os.system(cmd_string3)

0

In [16]:
cmd_string3

'git clone https://reconjohn:rkatk%26919@github.com/reconjohn/evan_data.git'

**Step eight:**

Change folder to save file:

In [17]:
#write name after %cd
%cd evan_data

C:\Users\Yohan_Min\DIRECT\Pub\evan_data

**Step nine:**

Save the files (now in the cloned repo):

In [ ]:
# for Python
#YOUR_DATAFRAME_NAME.to_pickle("YOUR_DATAFRAME_NAME.pkl")

In [ ]:
## for R
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(YOUR_DATAFRAME_NAME,file="YOUR_DATAFRAME_NAME.RDS")
##

rpy2.rinterface.NULL

**Step ten:**

Update repo and verify:

In [ ]:
!git add .
!git commit -m 'clean data from Python in colab'  # commit in Colab
!git push origin master          # push to github