In [109]:
import pandas as pd

GitLinkXLS='https://github.com/reconjohn/evan_data/raw/master/energy-use-per-capita.csv'

EnergyConsume=pd.read_csv(GitLinkXLS)[pd.read_csv(GitLinkXLS).Year==2014]
EnergyConsume.drop(columns='Year',inplace=True)

In [110]:
EnergyConsume

,Entity,Code,Energy use (kg of oil equivalent per capita) (kWh)
43,Albania,ALB,9402.341415
87,Algeria,DZA,15364.387111
131,Angola,AGO,6338.820907
180,Arab World,NaN,22716.724088
224,Argentina,ARG,23436.625279
...,...,...,...
7451,United Kingdom,GBR,32294.696860
7507,United States,USA,80892.744318
7552,Upper middle income,NaN,25634.475478
7596,Uruguay,URY,16029.322050
7755,World,OWID_WRL,22336.346088

In [111]:
GitLinkXLS='https://github.com/reconjohn/evan_data/raw/master/installed-solar-PV-capacity.csv'

pd.read_csv(GitLinkXLS).head()
SolarCapa=pd.read_csv(GitLinkXLS)[pd.read_csv(GitLinkXLS).Year==2015]
SolarCapa.drop(columns='Year',inplace=True)
SolarCapa

                        Entity      Code  Solar Capacity (gigawatts)
19                     Algeria       DZA                      0.0741
42                   Australia       AUS                      4.3600
65                     Austria       AUT                      0.9371
88                     Belgium       BEL                      3.1310
111                     Brazil       BRA                      0.0229
134                   Bulgaria       BGR                      1.0290
157                     Canada       CAN                      2.5170
180                      Chile       CHL                      0.5760
203                      China       CHN                     43.5517
226             Czech Republic       CZE                      2.0750
249                    Denmark       DNK                      0.7821
268                      Egypt       EGY                      0.0450
291             Europe (other)       NaN                      1.6313
314                    Finland       FIN                      0.0150
337                     France       FRA                      7.1375
360                    Germany       DEU                     39.2450
383                     Greece       GRC                      2.6040
406                   Honduras       HND                      0.3932
429                    Hungary       HUN                      0.1720
452                      India       IND                      3.5183
475                     Israel       ISR                      0.7719
498                      Italy       ITA                     18.9071
521                      Japan       JPN                     34.1500
544                     Jordan       JOR                      0.0289
567                   Malaysia       MYS                      0.2291
590                     Mexico       MEX                      0.1730
613                Netherlands       NLD                      1.5150
636                     Norway       NOR                      0.0150
659               Other Africa       NaN                      0.7891
682       Other Asia & Pacific       NaN                      2.4417
705                  Other CIS       NaN                      0.0050
728          Other Middle East       NaN                      0.2177
751   Other S. & Cent. America       NaN                      0.8310
774                   Pakistan       PAK                      0.2300
797                Philippines       PHL                      0.1653
820                   Portugal       PRT                      0.4470
843                    Romania       ROU                      1.3260
866                     Russia       RUS                      0.0617
889                   Slovakia       SVK                      0.5330
912               South Africa       ZAF                      1.3517
935                South Korea       KOR                      3.6132
958                      Spain       ESP                      7.0080
981                     Sweden       SWE                      0.1040
1004               Switzerland       CHE                      1.3940
1027                    Taiwan       TWN                      0.8422
1050                  Thailand       THA                      1.4246
1073              Total Africa       NaN                      2.2599
1096        Total Asia Pacific       NaN                     94.5261
1119                 Total CIS       NaN                      0.0667
1142              Total Europe       NaN                    100.7003
1165         Total Middle East       NaN                      1.1532
1188       Total North America       NaN                     26.1320
1211  Total S. & Cent. America       NaN                      1.8231
1234                    Turkey       TUR                      0.2500
1257                   Ukraine       UKR                      0.8412
1280      United Arab Emirates       ARE                      0.1347
1303            United Kingdom       GBR                      9.6010
1326             United States       USA                     23.4420
1349                     World  OWID_WRL                    226.6613

In [112]:
GitLinkXLS='https://github.com/reconjohn/evan_data/raw/master/renewable-energy-consumption.csv'

SolarConsume=pd.read_csv(GitLinkXLS)[pd.read_csv(GitLinkXLS).Year==2015].loc[:,['Entity','Code','Year','Solar (terawatt-hours)']]
SolarConsume.drop(columns='Year',inplace=True)
SolarConsume.head()

           Entity Code  Solar (terawatt-hours)
50         Africa  NaN                3.568277
104       Algeria  DZA                0.058000
158     Argentina  ARG                0.014683
212  Asia Pacific  NaN               99.193726
266     Australia  AUS                5.958000

In [113]:
len(EnergyConsume), len(SolarCapa), len(SolarConsume)

(175, 59, 99)

In [114]:
Solar=SolarCapa.merge(EnergyConsume,how='left').merge(SolarConsume,how='left')

In [115]:
Solar.columns

Index(['Entity', 'Code', 'Solar Capacity (gigawatts)',
       'Energy use (kg of oil equivalent per capita) (kWh)',
       'Solar (terawatt-hours)'],
      dtype='object')

In [116]:
Solar.columns=Solar.columns.str.replace("\s+|\(|\)","").str.replace("gigawatts","GW").str.replace("Entity","Country").str.replace("terawatt-hours","TWh")

In [117]:
OldToNew={'EnergyusekgofoilequivalentpercapitakWh':'EnergyUseKWh','SolarTWh':'SolarUseTWh'}

In [118]:
Solar.rename(columns=OldToNew,inplace=True)
Solar

,Country,Code,SolarCapacityGW,EnergyUseKWh,SolarUseTWh
0,Algeria,DZA,0.0741,15364.387111,0.058000
1,Australia,AUS,4.3600,61967.245026,5.958000
2,Austria,AUT,0.9371,43767.503507,0.937098
3,Belgium,BEL,3.1310,54756.612764,3.053000
4,Brazil,BRA,0.0229,17269.696799,0.058917
5,Bulgaria,BGR,1.0290,28815.132310,1.383000
6,Canada,CAN,2.5170,91598.974473,2.895000
7,Chile,CHL,0.5760,23837.881083,1.261087
8,China,CHN,43.5517,26013.168825,43.560000
9,Czech Republic,CZE,2.0750,45532.770964,2.263800
10,Denmark,DNK,0.7821,33408.030355,0.604261
11,Egypt,EGY,0.0450,9478.311132,0.065400
12,Europe (other),NaN,1.6313,NaN,0.237593
13,Finland,FIN,0.0150,72261.350820,0.010200
14,France,FRA,7.1375,42552.608200,7.262000
15,Germany,DEU,39.2450,43955.142139,38.726000
16,Greece,GRC,2.6040,24700.932474,3.900000
17,Honduras,HND,0.3932,7069.465879,NaN
18,Hungary,HUN,0.1720,26917.593525,0.141000
19,India,IND,3.5183,7413.294965,6.566380
20,Israel,ISR,0.7719,32127.944010,1.246260
21,Italy,ITA,18.9071,28080.448938,22.942200
22,Japan,JPN,34.1500,40364.975190,34.540172
23,Jordan,JOR,0.0289,10798.693135,NaN
24,Malaysia,MYS,0.2291,34512.505371,0.273000
25,Mexico,MEX,0.1730,17599.204586,0.246000
26,Netherlands,NLD,1.5150,50305.840766,1.121509
27,Norway,NOR,0.0150,65077.463288,0.013400
28,Other Africa,NaN,0.7891,NaN,NaN
29,Other Asia & Pacific,NaN,2.4417,NaN,0.222921
30,Other CIS,NaN,0.0050,NaN,0.010449
31,Other Middle East,NaN,0.2177,NaN,0.637445
32,Other S. & Cent. America,NaN,0.8310,NaN,NaN
33,Pakistan,PAK,0.2300,5634.097890,0.330500
34,Philippines,PHL,0.1653,5538.726146,0.138534
35,Portugal,PRT,0.4470,23661.381882,0.796155
36,Romania,ROU,1.3260,18511.094875,1.982000
37,Russia,RUS,0.0617,57485.642268,0.335600
38,Slovakia,SVK,0.5330,34229.289934,0.506000
39,South Africa,ZAF,1.3517,31351.383671,2.749000
40,South Korea,KOR,3.6132,61514.277925,3.979159
41,Spain,ESP,7.0080,28663.778210,13.858430
42,Sweden,SWE,0.1040,57759.649764,0.097000
43,Switzerland,CHE,1.3940,35587.064391,1.119000
44,Taiwan,TWN,0.8422,NaN,0.875516
45,Thailand,THA,1.4246,22906.839459,2.378000
46,Total Africa,NaN,2.2599,NaN,NaN
47,Total Asia Pacific,NaN,94.5261,NaN,NaN
48,Total CIS,NaN,0.0667,NaN,NaN
49,Total Europe,NaN,100.7003,NaN,NaN
50,Total Middle East,NaN,1.1532,NaN,NaN
51,Total North America,NaN,26.1320,NaN,NaN
52,Total S. & Cent. America,NaN,1.8231,NaN,NaN
53,Turkey,TUR,0.2500,18350.139381,0.194120
54,Ukraine,UKR,0.8412,27149.155727,0.477000
55,United Arab Emirates,ARE,0.1347,90356.200003,0.301000
56,United Kingdom,GBR,9.6010,32294.696860,7.533414
57,United States,USA,23.4420,80892.744318,39.426263
58,World,OWID_WRL,226.6613,22336.346088,260.739219

In [123]:
Solar.to_csv('SolarData.csv', index=False)

## Merging education data

In [125]:
GitLinkXLS='https://raw.githubusercontent.com/cdquack/543/master/2015EI2.csv'

Education=pd.read_csv(GitLinkXLS)
Education

,Country,EIRank,EducationIndex,ExpectedYears,MeanYears,HDI,Continent
0,Australia,1,0.939,20.4,13.2,2,Oceania
1,Denmark,2,0.923,19.2,12.7,5,Europe
2,New Zealand,3,0.917,19.2,12.5,13,Oceania
3,Norway,4,0.916,17.7,12.7,1,Europe
4,Germany,5,0.914,17.1,13.2,4,Europe
...,...,...,...,...,...,...,...
183,South Sudan,184,0.297,4.9,4.8,181,Africa
184,Chad,185,0.280,7.3,2.3,186,Africa
185,Eritrea,186,0.267,5.0,3.9,179,Africa
186,Burkina Faso,187,0.262,7.7,1.4,185,Africa
187,Niger,188,0.206,5.4,1.7,187,Africa

In [126]:
Data=Solar.merge(Education, how='inner')

In [127]:
Data

,Country,Code,SolarCapacityGW,EnergyUseKWh,SolarUseTWh,EIRank,EducationIndex,ExpectedYears,MeanYears,HDI,Continent
0,Algeria,DZA,0.0741,15364.387111,0.058000,95,0.658,14.4,7.8,83,Africa
1,Australia,AUS,4.3600,61967.245026,5.958000,1,0.939,20.4,13.2,2,Oceania
2,Austria,AUT,0.9371,43767.503507,0.937098,31,0.820,15.9,11.3,24,Europe
3,Belgium,BEL,3.1310,54756.612764,3.053000,23,0.841,16.6,11.4,22,Europe
4,Brazil,BRA,0.0229,17269.696799,0.058917,87,0.681,15.2,7.8,79,South America
5,Bulgaria,BGR,1.0290,28815.132310,1.383000,49,0.778,15.0,10.8,56,Europe
6,Canada,CAN,2.5170,91598.974473,2.895000,12,0.890,16.3,13.1,10,North America
7,Chile,CHL,0.5760,23837.881083,1.261087,45,0.784,16.3,9.9,38,South America
8,China,CHN,43.5517,26013.168825,43.560000,108,0.631,13.5,7.6,90,Asia
9,Czech Republic,CZE,2.0750,45532.770964,2.263800,15,0.878,16.8,12.3,28,Europe
10,Denmark,DNK,0.7821,33408.030355,0.604261,2,0.923,19.2,12.7,5,Europe
11,Egypt,EGY,0.0450,9478.311132,0.065400,121,0.601,13.1,7.1,111,Africa
12,Finland,FIN,0.0150,72261.350820,0.010200,21,0.847,17.0,11.2,23,Europe
13,France,FRA,7.1375,42552.608200,7.262000,24,0.839,16.3,11.6,21,Europe
14,Germany,DEU,39.2450,43955.142139,38.726000,5,0.914,17.1,13.2,4,Europe
15,Greece,GRC,2.6040,24700.932474,3.900000,28,0.830,17.2,10.5,29,Europe
16,Honduras,HND,0.3932,7069.465879,NaN,136,0.518,11.2,6.2,130,North America
17,Hungary,HUN,0.1720,26917.593525,0.141000,26,0.834,15.6,12.0,43,Europe
18,India,IND,3.5183,7413.294965,6.566380,112,0.624,11.7,6.3,131,Asia
19,Israel,ISR,0.7719,32127.944010,1.246260,17,0.870,16.0,12.8,19,Asia
20,Italy,ITA,18.9071,28080.448938,22.942200,35,0.814,16.3,10.9,26,Europe
21,Japan,JPN,34.1500,40364.975190,34.540172,22,0.842,15.3,12.5,17,Asia
22,Jordan,JOR,0.0289,10798.693135,NaN,79,0.701,13.1,10.1,86,Asia
23,Malaysia,MYS,0.2291,34512.505371,0.273000,80,0.700,13.1,10.1,59,Asia
24,Mexico,MEX,0.1730,17599.204586,0.246000,101,0.655,13.3,8.6,77,North America
25,Netherlands,NLD,1.5150,50305.840766,1.121509,9,0.897,18.1,11.9,7,Europe
26,Norway,NOR,0.0150,65077.463288,0.013400,4,0.916,17.7,12.7,1,Europe
27,Pakistan,PAK,0.2300,5634.097890,0.330500,128,0.550,12.1,10.1,147,Asia
28,Philippines,PHL,0.1653,5538.726146,0.138534,107,0.637,11.7,9.3,116,Asia
29,Portugal,PRT,0.4470,23661.381882,0.796155,56,0.756,16.6,8.9,41,Europe
30,Romania,ROU,1.3260,18511.094875,1.982000,51,0.769,14.7,10.8,50,Europe
31,Slovakia,SVK,0.5330,34229.289934,0.506000,29,0.823,15.0,12.2,40,Europe
32,South Africa,ZAF,1.3517,31351.383671,2.749000,75,0.705,13.0,10.3,119,Africa
33,South Korea,KOR,3.6132,61514.277925,3.979159,18,0.867,16.6,12.2,18,Asia
34,Spain,ESP,7.0080,28663.778210,13.858430,32,0.818,17.7,9.8,27,Europe
35,Sweden,SWE,0.1040,57759.649764,0.097000,19,0.855,16.1,12.3,14,Europe
36,Switzerland,CHE,1.3940,35587.064391,1.119000,11,0.891,16.0,13.4,2,Europe
37,Thailand,THA,1.4246,22906.839459,2.378000,106,0.641,13.6,7.9,87,Asia
38,Turkey,TUR,0.2500,18350.139381,0.194120,92,0.668,14.6,7.9,71,Europe
39,Ukraine,UKR,0.8412,27149.155727,0.477000,40,0.803,15.3,11.3,84,Europe
40,United Arab Emirates,ARE,0.1347,90356.200003,0.301000,85,0.687,13.3,9.5,42,Asia
41,United Kingdom,GBR,9.6010,32294.696860,7.533414,10,0.896,16.3,13.3,16,Europe
42,United States,USA,23.4420,80892.744318,39.426263,8,0.900,16.5,13.2,10,North America

In [129]:
Data=Data.dropna()
Data.reset_index(drop=True,inplace=True)
Data.head()

,Country,Code,SolarCapacityGW,EnergyUseKWh,SolarUseTWh,EIRank,EducationIndex,ExpectedYears,MeanYears,HDI,Continent
0,Algeria,DZA,0.0741,15364.387111,0.058000,95,0.658,14.4,7.8,83,Africa
1,Australia,AUS,4.3600,61967.245026,5.958000,1,0.939,20.4,13.2,2,Oceania
2,Austria,AUT,0.9371,43767.503507,0.937098,31,0.820,15.9,11.3,24,Europe
3,Belgium,BEL,3.1310,54756.612764,3.053000,23,0.841,16.6,11.4,22,Europe
4,Brazil,BRA,0.0229,17269.696799,0.058917,87,0.681,15.2,7.8,79,South America

In [130]:
Data

,Country,Code,SolarCapacityGW,EnergyUseKWh,SolarUseTWh,EIRank,EducationIndex,ExpectedYears,MeanYears,HDI,Continent
0,Algeria,DZA,0.0741,15364.387111,0.058000,95,0.658,14.4,7.8,83,Africa
1,Australia,AUS,4.3600,61967.245026,5.958000,1,0.939,20.4,13.2,2,Oceania
2,Austria,AUT,0.9371,43767.503507,0.937098,31,0.820,15.9,11.3,24,Europe
3,Belgium,BEL,3.1310,54756.612764,3.053000,23,0.841,16.6,11.4,22,Europe
4,Brazil,BRA,0.0229,17269.696799,0.058917,87,0.681,15.2,7.8,79,South America
5,Bulgaria,BGR,1.0290,28815.132310,1.383000,49,0.778,15.0,10.8,56,Europe
6,Canada,CAN,2.5170,91598.974473,2.895000,12,0.890,16.3,13.1,10,North America
7,Chile,CHL,0.5760,23837.881083,1.261087,45,0.784,16.3,9.9,38,South America
8,China,CHN,43.5517,26013.168825,43.560000,108,0.631,13.5,7.6,90,Asia
9,Czech Republic,CZE,2.0750,45532.770964,2.263800,15,0.878,16.8,12.3,28,Europe
10,Denmark,DNK,0.7821,33408.030355,0.604261,2,0.923,19.2,12.7,5,Europe
11,Egypt,EGY,0.0450,9478.311132,0.065400,121,0.601,13.1,7.1,111,Africa
12,Finland,FIN,0.0150,72261.350820,0.010200,21,0.847,17.0,11.2,23,Europe
13,France,FRA,7.1375,42552.608200,7.262000,24,0.839,16.3,11.6,21,Europe
14,Germany,DEU,39.2450,43955.142139,38.726000,5,0.914,17.1,13.2,4,Europe
15,Greece,GRC,2.6040,24700.932474,3.900000,28,0.830,17.2,10.5,29,Europe
16,Hungary,HUN,0.1720,26917.593525,0.141000,26,0.834,15.6,12.0,43,Europe
17,India,IND,3.5183,7413.294965,6.566380,112,0.624,11.7,6.3,131,Asia
18,Israel,ISR,0.7719,32127.944010,1.246260,17,0.870,16.0,12.8,19,Asia
19,Italy,ITA,18.9071,28080.448938,22.942200,35,0.814,16.3,10.9,26,Europe
20,Japan,JPN,34.1500,40364.975190,34.540172,22,0.842,15.3,12.5,17,Asia
21,Malaysia,MYS,0.2291,34512.505371,0.273000,80,0.700,13.1,10.1,59,Asia
22,Mexico,MEX,0.1730,17599.204586,0.246000,101,0.655,13.3,8.6,77,North America
23,Netherlands,NLD,1.5150,50305.840766,1.121509,9,0.897,18.1,11.9,7,Europe
24,Norway,NOR,0.0150,65077.463288,0.013400,4,0.916,17.7,12.7,1,Europe
25,Pakistan,PAK,0.2300,5634.097890,0.330500,128,0.550,12.1,10.1,147,Asia
26,Philippines,PHL,0.1653,5538.726146,0.138534,107,0.637,11.7,9.3,116,Asia
27,Portugal,PRT,0.4470,23661.381882,0.796155,56,0.756,16.6,8.9,41,Europe
28,Romania,ROU,1.3260,18511.094875,1.982000,51,0.769,14.7,10.8,50,Europe
29,Slovakia,SVK,0.5330,34229.289934,0.506000,29,0.823,15.0,12.2,40,Europe
30,South Africa,ZAF,1.3517,31351.383671,2.749000,75,0.705,13.0,10.3,119,Africa
31,South Korea,KOR,3.6132,61514.277925,3.979159,18,0.867,16.6,12.2,18,Asia
32,Spain,ESP,7.0080,28663.778210,13.858430,32,0.818,17.7,9.8,27,Europe
33,Sweden,SWE,0.1040,57759.649764,0.097000,19,0.855,16.1,12.3,14,Europe
34,Switzerland,CHE,1.3940,35587.064391,1.119000,11,0.891,16.0,13.4,2,Europe
35,Thailand,THA,1.4246,22906.839459,2.378000,106,0.641,13.6,7.9,87,Asia
36,Turkey,TUR,0.2500,18350.139381,0.194120,92,0.668,14.6,7.9,71,Europe
37,Ukraine,UKR,0.8412,27149.155727,0.477000,40,0.803,15.3,11.3,84,Europe
38,United Arab Emirates,ARE,0.1347,90356.200003,0.301000,85,0.687,13.3,9.5,42,Asia
39,United Kingdom,GBR,9.6010,32294.696860,7.533414,10,0.896,16.3,13.3,16,Europe
40,United States,USA,23.4420,80892.744318,39.426263,8,0.900,16.5,13.2,10,North America

## Adding a categorical variable

In [131]:
Data.to_csv('Data.csv', index=False)