<br> 
<center><img src="https://i.imgur.com/hkb7Bq7.png" width="500"></center>


### Prof. José Manuel Magallanes, PhD

* Associate Professor, Departamento de Ciencias Sociales, Pontificia Universidad Católica del Perú, [jmagallanes@pucp.edu.pe](mailto:jmagallanes@pucp.edu.pe)

* Visiting Associate Professor, Evans School of Public Policy and Governance / Senior Data Science Fellow, eScience Institute, University of Washington, [magajm@uw.edu](mailto:magajm@uw.edu)
_____

_____


# Session 1: Introduction to Python - EXERCISES

## CASE 1: HDI

Link from Google:

In [0]:
link1="https://docs.google.com/spreadsheets/d/e/2PACX-1vSNMpr1Dz3tvMqEAnmGAjaQi19zcsEiLZQn6f5ZM6ap4tzNy6bQUXtctNebCL4OyEN6UODUc0U7B9pf/pub?gid=1506000439&single=true&output=csv"

Collecting the data with the link from Google:

In [0]:
# need to call pandas:

import pandas as pd

hdi=pd.read_csv(link1)

### -  Cleaning

Keep only data for data frame

#### * Check first rows

In [34]:
# Is the header in the right place:
hdi.head(10)

  Unnamed: 0  ... Unnamed: 14
0        NaN  ...         NaN
1        NaN  ...         NaN
2        NaN  ...         NaN
3        NaN  ...    HDI rank
4   HDI rank  ...         NaN
5        NaN  ...     2017.00
6        NaN  ...         NaN
7          1  ...        1.00
8          2  ...        2.00
9          3  ...        3.00

[10 rows x 15 columns]

Two problems:

* The headers are in two different rows.
* The data starts in below zero.

Cleaning the top part:

* Saving the headers:

In [35]:
# for the first two columns:
hdi.iloc[4,:2].tolist()

['HDI rank', 'Country']

In [36]:
# for the rest of columns columns:
hdi.iloc[3,2:].tolist()

['Human development index (HDI) ',
 nan,
 'Life expectancy at birth',
 nan,
 'Expected years of schooling',
 nan,
 'Mean years of schooling',
 nan,
 'Gross national income (GNI) per capita',
 nan,
 'GNI per capita rank minus HDI rank',
 nan,
 'HDI rank']

In [37]:
# saving headers:
CurrentHeaders=hdi.iloc[4,:2].tolist()+hdi.iloc[3,2:].tolist()

# you saved this:
CurrentHeaders

['HDI rank',
 'Country',
 'Human development index (HDI) ',
 nan,
 'Life expectancy at birth',
 nan,
 'Expected years of schooling',
 nan,
 'Mean years of schooling',
 nan,
 'Gross national income (GNI) per capita',
 nan,
 'GNI per capita rank minus HDI rank',
 nan,
 'HDI rank']

* Setting the begining of data:

We need to get rid the top rows that are not part of the data frame:

In [38]:
# PREVIES: deleting rows, NORWAY should be the first row:
hdi.drop(index=range(0,7)) #7 in range() will not be erased.

    Unnamed: 0  ... Unnamed: 14
7            1  ...        1.00
8            2  ...        2.00
9            3  ...        3.00
10           4  ...        4.00
11           4  ...        6.00
..         ...  ...         ...
264        NaN  ...         NaN
265        NaN  ...         NaN
266        NaN  ...         NaN
267        NaN  ...         NaN
268        NaN  ...         NaN

[262 rows x 15 columns]

Making effective the last code:

In [0]:
hdi.drop(index=range(0,7),inplace=True)

As soon as you delete rows, you should reset the indexes:

In [0]:
hdi.reset_index(drop=True,inplace=True)

You can rename the columns now:

In [0]:
# rename columns
hdi.columns=CurrentHeaders

So far:

In [42]:
hdi.head()

   HDI rank                 Country  ... NaN  HDI rank
0         1                  Norway  ... NaN      1.00
1         2             Switzerland  ... NaN      2.00
2         3                 Ireland  ... NaN      3.00
3         4                 Germany  ... NaN      4.00
4         4  Hong Kong, China (SAR)  ... NaN      6.00

[5 rows x 15 columns]

#### * Check last rows

In [43]:
hdi.tail(65) #change until you see last data row

     HDI rank                                            Country  ... NaN  HDI rank
197        ..                                            Somalia  ... NaN        ..
198        ..                                             Tuvalu  ... NaN        ..
199       NaN                                                NaN  ... NaN       NaN
200       NaN                           Human development groups  ... NaN       NaN
201       NaN                        Very high human development  ... NaN         —
..        ...                                                ...  ...  ..       ...
257       NaN                         Column 2: UNDESA (2019b).   ... NaN       NaN
258       NaN  Column 3: UNESCO Institute for Statistics (201...  ... NaN       NaN
259       NaN  Column 4: UNESCO Institute for Statistics (201...  ... NaN       NaN
260       NaN  Column 5: World Bank (2019a), IMF (2019) and U...  ... NaN       NaN
261       NaN  Column 6: Calculated based on data in columns ...  ... NaN       NaN

[65 rows x 15 columns]

Based on what is diSplayed, you should keep data up to Tuvalu country:

In [44]:
# deleting: preview
hdi.drop(index=range(199,262)) # rows starting from 199 will be erased

     HDI rank                 Country  ... NaN  HDI rank
0           1                  Norway  ... NaN      1.00
1           2             Switzerland  ... NaN      2.00
2           3                 Ireland  ... NaN      3.00
3           4                 Germany  ... NaN      4.00
4           4  Hong Kong, China (SAR)  ... NaN      6.00
..        ...                     ...  ...  ..       ...
194        ..                  Monaco  ... NaN        ..
195        ..                   Nauru  ... NaN        ..
196        ..              San Marino  ... NaN        ..
197        ..                 Somalia  ... NaN        ..
198        ..                  Tuvalu  ... NaN        ..

[199 rows x 15 columns]

Making effective the last code:

In [0]:
hdi.drop(index=range(199,262),inplace=True) # should I reset indexes?

So far:

In [46]:
hdi

     HDI rank                 Country  ... NaN  HDI rank
0           1                  Norway  ... NaN      1.00
1           2             Switzerland  ... NaN      2.00
2           3                 Ireland  ... NaN      3.00
3           4                 Germany  ... NaN      4.00
4           4  Hong Kong, China (SAR)  ... NaN      6.00
..        ...                     ...  ...  ..       ...
194        ..                  Monaco  ... NaN        ..
195        ..                   Nauru  ... NaN        ..
196        ..              San Marino  ... NaN        ..
197        ..                 Somalia  ... NaN        ..
198        ..                  Tuvalu  ... NaN        ..

[199 rows x 15 columns]

#### * Check the column names

You have columns with names "missing", you want to avoid those:

In [47]:
# Get good columns

GoodHeaders=[header for header in CurrentHeaders if str(header) != 'nan']
#
GoodHeaders

['HDI rank',
 'Country',
 'Human development index (HDI) ',
 'Life expectancy at birth',
 'Expected years of schooling',
 'Mean years of schooling',
 'Gross national income (GNI) per capita',
 'GNI per capita rank minus HDI rank',
 'HDI rank']

The column **HDI rank** appears twice, because it appears twice in the data. Also, you have another rank **GNI per capita rank minus HDI rank'**. Ranks are repetitive because we have the scores. So, you can always get rid of them in this and other similar situations:

In [48]:
FinalHeaders=[header for header in GoodHeaders if 'rank' not in header]
# then
FinalHeaders

['Country',
 'Human development index (HDI) ',
 'Life expectancy at birth',
 'Expected years of schooling',
 'Mean years of schooling',
 'Gross national income (GNI) per capita']

In [49]:
# remember loc works with names, not with positions:

hdi.loc[:,FinalHeaders]

                    Country  ... Gross national income (GNI) per capita
0                    Norway  ...                               68058.62
1               Switzerland  ...                               59374.73
2                   Ireland  ...                               55659.68
3                   Germany  ...                               46945.95
4    Hong Kong, China (SAR)  ...                               60220.80
..                      ...  ...                                    ...
194                  Monaco  ...                                     ..
195                   Nauru  ...                               17312.59
196              San Marino  ...                                     ..
197                 Somalia  ...                                     ..
198                  Tuvalu  ...                                5408.95

[199 rows x 6 columns]

Saving previous result:

In [0]:
hdi=hdi.loc[:,FinalHeaders]

In [51]:
# you have:
hdi.head()

                  Country  ... Gross national income (GNI) per capita
0                  Norway  ...                               68058.62
1             Switzerland  ...                               59374.73
2                 Ireland  ...                               55659.68
3                 Germany  ...                               46945.95
4  Hong Kong, China (SAR)  ...                               60220.80

[5 rows x 6 columns]

The remaining column names need to improve:

In [52]:
# replace with '' (empty) the "blanks":
hdi.columns.str.replace("\s","")

Index(['Country', 'Humandevelopmentindex(HDI)', 'Lifeexpectancyatbirth',
       'Expectedyearsofschooling', 'Meanyearsofschooling',
       'Grossnationalincome(GNI)percapita'],
      dtype='object')

In [53]:
# replace with '' (empty) consecutive word characters in parenthesis:
hdi.columns.str.replace("\(\w+\)","")

Index(['Country', 'Human development index  ', 'Life expectancy at birth',
       'Expected years of schooling', 'Mean years of schooling',
       'Gross national income  per capita'],
      dtype='object')

In [54]:
#or all combines
hdi.columns.str.replace("\s+|\(\w+\)","")

Index(['Country', 'Humandevelopmentindex', 'Lifeexpectancyatbirth',
       'Expectedyearsofschooling', 'Meanyearsofschooling',
       'Grossnationalincomepercapita'],
      dtype='object')

Saving result:

In [0]:
hdi.columns=hdi.columns.str.replace("\s+|\(\w+\)","")

In [56]:
hdi.head()

                  Country  ... Grossnationalincomepercapita
0                  Norway  ...                     68058.62
1             Switzerland  ...                     59374.73
2                 Ireland  ...                     55659.68
3                 Germany  ...                     46945.95
4  Hong Kong, China (SAR)  ...                     60220.80

[5 rows x 6 columns]

#### * Check the cell values

Find cells where all numeric data is missing, that is, a country with no data:

In [57]:
# check empty cells from second to last
hdi[hdi.iloc[:,1:].isnull().all(axis=1)] #ALL

                            Country  ... Grossnationalincomepercapita
62           HIGH HUMAN DEVELOPMENT  ...                          NaN
117        MEDIUM HUMAN DEVELOPMENT  ...                          NaN
155           LOW HUMAN DEVELOPMENT  ...                          NaN
192  OTHER COUNTRIES OR TERRITORIES  ...                          NaN

[4 rows x 6 columns]

These are no countries. They were subtitles for groups of countries.

You need the opposite to that:

In [58]:
# the opposite
hdi[hdi.iloc[:,1:].notnull().all(axis=1)]

                    Country  ... Grossnationalincomepercapita
0                    Norway  ...                     68058.62
1               Switzerland  ...                     59374.73
2                   Ireland  ...                     55659.68
3                   Germany  ...                     46945.95
4    Hong Kong, China (SAR)  ...                     60220.80
..                      ...  ...                          ...
194                  Monaco  ...                           ..
195                   Nauru  ...                     17312.59
196              San Marino  ...                           ..
197                 Somalia  ...                           ..
198                  Tuvalu  ...                      5408.95

[195 rows x 6 columns]

Keepin what you need:

In [0]:
hdi=hdi[hdi.iloc[:,1:].notnull().all(axis=1)]

The last code deleted rows, then indexes need to be reset:

In [0]:
hdi.reset_index(drop=True, inplace=True)

So far:

In [61]:
hdi

                    Country  ... Grossnationalincomepercapita
0                    Norway  ...                     68058.62
1               Switzerland  ...                     59374.73
2                   Ireland  ...                     55659.68
3                   Germany  ...                     46945.95
4    Hong Kong, China (SAR)  ...                     60220.80
..                      ...  ...                          ...
190                  Monaco  ...                           ..
191                   Nauru  ...                     17312.59
192              San Marino  ...                           ..
193                 Somalia  ...                           ..
194                  Tuvalu  ...                      5408.95

[195 rows x 6 columns]

#### * Check the cell values

Above you see some characters that are not numbers, are they missing values:

In [62]:
hdi[hdi.iloc[:,1:].isnull().any(axis=1)] #ANY

Empty DataFrame
Columns: [Country, Humandevelopmentindex, Lifeexpectancyatbirth, Expectedyearsofschooling, Meanyearsofschooling, Grossnationalincomepercapita]
Index: []

There are symbols that represent missing values, but they are not recognized so. We need to check what values in those **numeric** columns are not numbers:

In [63]:
badHDISymbols=[] # list for bad symbols

NumericColNames=hdi.iloc[:,1:].columns # save names of columns with numeric data

for columnName in NumericColNames:# visit every column name
    for cell in hdi[columnName]:# visit every cell for that column
        try:
            float(cell) # try this
        except: # if not possible:            
            if cell not in badHDISymbols:# if cell is not in the list                
                badHDISymbols.append(cell)# add it to the list

# you get:
badHDISymbols

['..']

You need to replace that value in the numeric columns:

In [0]:
import numpy as np

hdi.replace(to_replace=badHDISymbols,value=np.nan,inplace=True)

In [65]:
# you have:
hdi

                    Country  ... Grossnationalincomepercapita
0                    Norway  ...                     68058.62
1               Switzerland  ...                     59374.73
2                   Ireland  ...                     55659.68
3                   Germany  ...                     46945.95
4    Hong Kong, China (SAR)  ...                     60220.80
..                      ...  ...                          ...
190                  Monaco  ...                          NaN
191                   Nauru  ...                     17312.59
192              San Marino  ...                          NaN
193                 Somalia  ...                          NaN
194                  Tuvalu  ...                      5408.95

[195 rows x 6 columns]

When you have numbers in your columns, you can request statistical summaries:

In [66]:
hdi.describe(include='all')

       Country  ... Grossnationalincomepercapita
count      195  ...                          191
unique     195  ...                          191
top      Gabon  ...                     12689.68
freq         1  ...                            1

[4 rows x 6 columns]

You are not getting those because they lack format.

### -  Formatting

Check the data types:

In [67]:
hdi.dtypes

Country                         object
Humandevelopmentindex           object
Lifeexpectancyatbirth           object
Expectedyearsofschooling        object
Meanyearsofschooling            object
Grossnationalincomepercapita    object
dtype: object

Country can remain as an object (text), but not the rest.

* **Formatting into numeric type**:

In [0]:
# as easy as:

hdi[NumericColNames]=hdi.loc[:,NumericColNames].apply(pd.to_numeric)

In [69]:
#recheck
hdi.dtypes

Country                          object
Humandevelopmentindex           float64
Lifeexpectancyatbirth           float64
Expectedyearsofschooling        float64
Meanyearsofschooling            float64
Grossnationalincomepercapita    float64
dtype: object

In [70]:
# recheck
hdi.describe(include='all')

       Country  ...  Grossnationalincomepercapita
count      195  ...                    191.000000
unique     195  ...                           NaN
top      Gabon  ...                           NaN
freq         1  ...                           NaN
mean       NaN  ...                  18368.072461
std        NaN  ...                  19627.352304
min        NaN  ...                    659.730000
25%        NaN  ...                   4009.435000
50%        NaN  ...                  11610.910000
75%        NaN  ...                  26535.420000
max        NaN  ...                 110488.740000

[11 rows x 6 columns]

Some more information:

In [71]:
hdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
Country                         195 non-null object
Humandevelopmentindex           189 non-null float64
Lifeexpectancyatbirth           191 non-null float64
Expectedyearsofschooling        193 non-null float64
Meanyearsofschooling            189 non-null float64
Grossnationalincomepercapita    191 non-null float64
dtypes: float64(5), object(1)
memory usage: 9.3+ KB

## CASE 2: DEMOCRACY INDEX

Link to use:

In [0]:
link2 = "https://en.wikipedia.org/wiki/Democracy_Index"

In [0]:
# import pandas as pd
# maybe you need: pip install beautifulsoup4
#collection
demodex=pd.read_html(link2,
                     header=0,
                     flavor='bs4',
                     attrs={'class': 'wikitable sortable'})[0]

## - Cleaning

* First rows:

In [74]:
# what's on top?
# names? weird symbols? more links?
demodex.head(10)

  Rank      Country Score  ... Civilliberties      Regimetype      Continent
0    1       Norway  9.87  ...           9.71  Full democracy         Europe
1    2      Iceland  9.58  ...           9.71  Full democracy         Europe
2    3       Sweden  9.39  ...           9.41  Full democracy         Europe
3    4  New Zealand  9.26  ...          10.00  Full democracy        Oceania
4    5      Finland  9.25  ...           9.71  Full democracy         Europe
5    6      Ireland  9.24  ...          10.00  Full democracy         Europe
6    7      Denmark  9.22  ...           9.12  Full democracy         Europe
7    7       Canada  9.22  ...           9.71  Full democracy  North America
8    9    Australia  9.09  ...          10.00  Full democracy        Oceania
9   10  Switzerland  9.03  ...           9.12  Full democracy         Europe

[10 rows x 10 columns]

* Last rows:

In [75]:
# what's at the bottom?
# note? credits? extra info?

demodex.tail(10)

     Rank                           Country  ...     Regimetype  Continent
158   159                      Saudi Arabia  ...  Authoritarian       Asia
159   159                        Tajikistan  ...  Authoritarian       Asia
160   161                 Equatorial Guinea  ...  Authoritarian     Africa
161   162                      Turkmenistan  ...  Authoritarian       Asia
162   163                              Chad  ...  Authoritarian     Africa
163   164                             Syria  ...  Authoritarian       Asia
164   165          Central African Republic  ...  Authoritarian     Africa
165   166  Democratic Republic of the Congo  ...  Authoritarian     Africa
166   167                       North Korea  ...  Authoritarian       Asia
167  Rank                           Country  ...     Regimetype  Continent

[10 rows x 10 columns]


From what I saw, I will get rid of the _Score_ and the _Rank_, an also of the last row (it is the repetition of the headers):

In [0]:
#bye row 167, and two columns
demClean=demodex.drop(index=167,columns=['Rank']).copy()

In [77]:
demClean

                              Country Score  ...      Regimetype Continent
0                              Norway  9.87  ...  Full democracy    Europe
1                             Iceland  9.58  ...  Full democracy    Europe
2                              Sweden  9.39  ...  Full democracy    Europe
3                         New Zealand  9.26  ...  Full democracy   Oceania
4                             Finland  9.25  ...  Full democracy    Europe
..                                ...   ...  ...             ...       ...
162                              Chad  1.61  ...   Authoritarian    Africa
163                             Syria  1.43  ...   Authoritarian      Asia
164          Central African Republic  1.32  ...   Authoritarian    Africa
165  Democratic Republic of the Congo  1.13  ...   Authoritarian    Africa
166                       North Korea  1.08  ...   Authoritarian      Asia

[167 rows x 9 columns]

As there are few names, we can change to smaller sizes:

In [0]:
newNames=['pluralism','effectiveness','participation','culture','liberties']

In [80]:
demClean.columns[1:-2]

Index(['Score', 'Electoral processand pluralism', 'Functioning ofgovernment',
       'Politicalparticipation', 'Politicalculture', 'Civilliberties'],
      dtype='object')

In [79]:
# names from the second and before the last one '[1:-1]':
newMapper={old:new for old,new in zip(demClean.columns[1:-2],newNames)}
newMapper

{'Electoral processand pluralism': 'effectiveness',
 'Functioning ofgovernment': 'participation',
 'Politicalculture': 'liberties',
 'Politicalparticipation': 'culture',
 'Score': 'pluralism'}

In [0]:
demClean.rename(columns=newMapper,inplace=True)

In [0]:
# this is what we have so far:
demClean.head()

       Country pluralism effectiveness  ... liberties      Regimetype Continent
0       Norway     10.00          9.64  ...      9.71  Full democracy    Europe
1      Iceland     10.00          9.29  ...      9.71  Full democracy    Europe
2       Sweden      9.58          9.64  ...      9.41  Full democracy    Europe
3  New Zealand     10.00          9.29  ...     10.00  Full democracy   Oceania
4      Denmark     10.00          9.29  ...      9.12  Full democracy    Europe

[5 rows x 8 columns]

Let me check if there is any rare character in the numbers:

In [0]:
badDemoSymbols=[] # list for bad symbols

NumericColNames=demClean.iloc[:,1:-2].columns # save names of columns with numeric data

for columnName in NumericColNames:# visit every column name
    for cell in demClean[columnName]:# visit every cell for that column
        try:
            float(cell) # try this
        except: # if not possible:            
            if cell not in badDemoSymbols:# if cell is not in the list                
                badDemoSymbols.append(cell)# add it to the list

# you get:
badDemoSymbols

[]

The last two columns are categories, we should check if the categories are consistent:

In [0]:
# get unique values in each column:
demClean.iloc[:,-2:].apply(set)

Regimetype    {Flawed democracy, Authoritarian, Full democra...
Continent     {Europe/Asia, Europe, Africa, South America, O...
dtype: object

In [0]:
# easier to see:
demClean.iloc[:,-2:].apply(set).to_list()

[{'Authoritarian', 'Flawed democracy', 'Full democracy', 'Hybrid regime'},
 {'Africa',
  'Asia',
  'Europe',
  'Europe/Asia',
  'North America',
  'Oceania',
  'South America'}]

It looks good so far. Let's go to formatting.

## - Formatting

In [0]:
# checking data types:
demClean.dtypes

Country          object
pluralism        object
effectiveness    object
participation    object
culture          object
liberties        object
Regimetype       object
Continent        object
dtype: object

* **Formatting into numeric**

In [0]:
demClean[NumericColNames]=demClean[NumericColNames].apply(pd.to_numeric)

* **Formatting into nominal**

In [0]:
demClean.Continent=pd.Categorical(demClean.Continent)

* **Formatting into ordinal**

In [0]:
# Check current levels:
pd.unique(demClean.Regimetype).tolist()

['Full democracy', 'Flawed democracy', 'Hybrid regime', 'Authoritarian']

In [0]:
#rewrite the levels in order:
correctLevels=['Authoritarian', 'Hybrid regime', 'Flawed democracy','Full democracy']

In [0]:
#format as ordinal:
demClean.Regimetype=pd.Categorical(demClean.Regimetype,categories=correctLevels,ordered=True)

The data types have changed:

In [0]:
#then
demClean.dtypes

Country            object
pluralism         float64
effectiveness     float64
participation     float64
culture           float64
liberties         float64
Regimetype       category
Continent        category
dtype: object

For more detail:

In [0]:
demClean.Regimetype.cat.ordered

True

In [0]:
# checking missing values
demClean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167 entries, 0 to 166
Data columns (total 8 columns):
Country          167 non-null object
pluralism        167 non-null float64
effectiveness    167 non-null float64
participation    167 non-null float64
culture          167 non-null float64
liberties        167 non-null float64
Regimetype       167 non-null category
Continent        167 non-null category
dtypes: category(2), float64(5), object(1)
memory usage: 10.0+ KB

## Case 3: Integrating and Saving

This should be an easy step:

In [0]:
hdi.merge(demClean)

                      Country  Humandevelopmentindex  ...      Regimetype  Continent
0                      Norway                   0.95  ...  Full democracy     Europe
1                 Switzerland                   0.95  ...  Full democracy     Europe
2                     Ireland                   0.94  ...  Full democracy     Europe
3                     Germany                   0.94  ...  Full democracy     Europe
4                   Australia                   0.94  ...  Full democracy    Oceania
..                        ...                    ...  ...             ...        ...
142                      Mali                   0.43  ...   Hybrid regime     Africa
143                   Burundi                   0.42  ...   Authoritarian     Africa
144                      Chad                   0.40  ...   Authoritarian     Africa
145  Central African Republic                   0.38  ...   Authoritarian     Africa
146                     Niger                   0.38  ...   Authoritarian     Africa

[147 rows x 13 columns]

Notice you have lost countries:

In [0]:
len(demClean),len(hdi)

(167, 195)

In [0]:
hdi.merge(demClean,how='outer',indicator=True) # see last column

                              Country  ...      _merge
0                              Norway  ...        both
1                         Switzerland  ...        both
2                             Ireland  ...        both
3                             Germany  ...        both
4              Hong Kong, China (SAR)  ...   left_only
..                                ...  ...         ...
210                              Iran  ...  right_only
211                              Laos  ...  right_only
212  Democratic Republic of the Congo  ...  right_only
213                             Syria  ...  right_only
214                       North Korea  ...  right_only

[215 rows x 14 columns]

Let me save previous result:

In [0]:
test=hdi.merge(demClean,how='outer',indicator=True)

In [0]:
# in hdi only
test.loc[test['_merge']=='left_only',"Country"]

4                   Hong Kong, China (SAR)
17                           Liechtenstein
22                     Korea (Republic of)
25                                 Czechia
35                                 Andorra
42                       Brunei Darussalam
48                      Russian Federation
54                                   Palau
55                                Barbados
59                                 Bahamas
61                              Seychelles
64              Iran (Islamic Republic of)
72                   Saint Kitts and Nevis
73                     Antigua and Barbuda
77                                 Grenada
89                             Saint Lucia
94        Saint Vincent and the Grenadines
96      Venezuela (Bolivarian Republic of)
97                                Dominica
102                                 Belize
103                               Maldives
104                                  Tonga
106                  Moldova (Republic of)
111                                  Samoa
113       Bolivia (Plurinational State of)
116                       Marshall Islands
117                               Viet Nam
118                    Palestine, State of
125                             Cabo Verde
132                               Kiribati
135       Micronesia (Federated States of)
136                  Sao Tome and Principe
137                                  Congo
138                  Eswatini (Kingdom of)
139       Lao People's Democratic Republic
140                                Vanuatu
152                        Solomon Islands
153                   Syrian Arab Republic
158          Tanzania (United Republic of)
164                          Côte d'Ivoire
178     Congo (Democratic Republic of the)
185                            South Sudan
189    Korea (Democratic People's Rep. of)
190                                 Monaco
191                                  Nauru
192                             San Marino
193                                Somalia
194                                 Tuvalu
Name: Country, dtype: object

In [0]:
# in demClean only
test.loc[test['_merge']=='right_only',"Country"]

195                    South Korea[n 1]
196                          Cape Verde
197                              Taiwan
198                      Czech Republic
199                           Hong Kong
200                             Moldova
201                             Bolivia
202                            Tanzania
203                           Palestine
204                         Ivory Coast
205               Republic of the Congo
206                           Venezuela
207                             Vietnam
208                            Eswatini
209                              Russia
210                                Iran
211                                Laos
212    Democratic Republic of the Congo
213                               Syria
214                         North Korea
Name: Country, dtype: object

In [0]:
# you need to change the original

#dictionary of replacements:
replacements={'South Korea[n 1]': 'Korea (Republic of)', 
              'Cape Verde':'Cabo Verde',
              'Czech Republic':'Czechia',
              'Hong Kong':'Hong Kong, China (SAR)',
              'Moldova':'Moldova (Republic of)',
              'Bolivia':'Bolivia (Plurinational State of)',
              'Tanzania':'Tanzania (United Republic of)',
              'Palestine':'Palestine, State of',
              'Ivory Coast':"Côte d'Ivoire",
              'Republic of the Congo':'Congo',
              'Venezuela':'Venezuela (Bolivarian Republic of)',
              'Vietnam':'Viet Nam',
              'Eswatini':'Eswatini (Kingdom of)',              
              'Russia':'Russian Federation',
              'Iran':'Iran (Islamic Republic of)',
              'Laos':"Lao People's Democratic Republic",
              'Democratic Republic of the Congo':'Congo (Democratic Republic of the)',
              'Syria':'Syrian Arab Republic',
              'North Korea': "Korea (Democratic People's Rep. of)" #check ""
             }

# replacing
demClean.Country.replace(replacements,inplace=True)

The merge should give more rows:

In [0]:
hdidem=hdi.merge(demClean)
# result:
hdidem

                                 Country  ...  Continent
0                                 Norway  ...     Europe
1                            Switzerland  ...     Europe
2                                Ireland  ...     Europe
3                                Germany  ...     Europe
4                 Hong Kong, China (SAR)  ...       Asia
..                                   ...  ...        ...
161                              Burundi  ...     Africa
162                                 Chad  ...     Africa
163             Central African Republic  ...     Africa
164                                Niger  ...     Africa
165  Korea (Democratic People's Rep. of)  ...       Asia

[166 rows x 13 columns]

____
____


### <font color="red">Saving File to Disk</font>

#### For future use in Python:

In [0]:
hdidem.to_pickle("hdidemocia.pkl")
# you will need: DF=pd.read_pickle("hdidemocia.pkl")
# or:
# from urllib.request import urlopen
# DF=pd.read_pickle(urlopen("https://...../hdidemocia.pkl"),compression=None)

#### For future  use in R:

In [0]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(hdidem,file="hdidem.RDS")

#In R, you call it with: DF = readRDS("hdidem.RDS")
#or, if iyou read from cloud: DF = readRDS(url("https://...../hdidem.RDS")

rpy2.rinterface.NULL

Important code to interact with your local machine:

In [0]:
from google.colab import files
files.download('hdidemocia.pkl')

In [0]:
files.download('hdidem.RDS')

In [0]:
uploaded = files.upload()